<div class="topbar items-center bg-midnight h-20 px-4 py-2 flex">
  <div class="grow-1 gap-2 flex">
    <a class="hover:bg-slate-600 rounded bg-slate-800 py-4 px-6" href="/rtc"
      >RTC Application</a
    >
     <a class="hover:bg-slate-600 rounded bg-slate-800 py-4 px-6" href="https://budget.andorsen.dev"
      >Actual Budget Application</a
    >
  </div>
  <h1 class="text-2xl">Martin Andorsen</h1>
</div>
