<div class="flex h-24 bg-slate-700 text-white items-center">
  <h1 class="text-xl pl-4">Martin Andorsen</h1>
  <a class="ml-24 px-4 py-2 rounded text-xl border" href="/blog">
    <h1>Blog</h1>
  </a>
</div>