<div class="flex w-full h-24 bg-slate-800 text-white items-center">
  <h1 class="text-xl pl-4">Martin Andorsen</h1>
  <!-- If mobile screen use hamburger menu -->
   <div class="ml-auto pr-8">
   <button class="border rounded p-2 h-8 w-16" ></button>
   <ul class="flex absolute overflow-auto flex-col w-16 gap-2 bg-slate-900 rounded p-2">
    <a href="">Link 1</a>
    <a href="">Link 2</a>
    <a href="">Link 3</a>
  </ul>
  </div>
    
</div>