<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Martin Andorsen</title>
	</head>
	<body class="h-full w-full m-0 bg-slate-600">
		<slot />
	</body>
</html>
