---
import '../assets/app.css';
---

<!doctype html>
<html lang="en" data-theme="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Martin Andorsen</title>
  </head>
  <body style="height: 100%; display: flex; flex-direction: column;">
    <slot />
  </body>
</html>
